:root{
    --bl-dark: #4ea0ff;
    --bl-medium: #20a9e5;
    --bl-light: #b1e5f2;
    --bl-greytext: #888888;
    --bl-bluetext: #33b0e6; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_header{
    color: white;
    text-shadow: 2px 2px black;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: var(--bl-dark);
    position: relative;
}

#header_container{
    height: 100px;
}

#site_main{
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#title{
    font-size: 3rem;
}

.grey_text{
    color: var(--bl-greytext);
}

#blue_text{
    color: var(--bl-bluetext);
}